* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content:center ;
  align-items: center;
}

.payment-page {
  background-color: #C2FFFB;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: scroll;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
}

.payment-header {
  background-color: #B0F3E7;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:500px ;
  padding-bottom: 35px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.payment-header p{
  font-size: 2.33rem;
  font-weight: bold;
  margin-top: 17px;
}
.Method{
  font-size: 17px;
  font-weight: bold;
}

.pay-by-bank, .pay-by-e-wallet {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content:flex-start;
  background-color: white;
  border-radius: 30px;
  border: none;
  padding: 20px;
  margin-top: 40px;
  width: 25rem;
}

.e-wallet p, .bank p {
    font-size: 13px;
    font-style: italic;
    color: #5a5a5a;
}

.bank, .e-wallet {
  width: 23rem;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  padding: 10px ;
}

.bank button, .e-wallet button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.bank button:focus, .e-wallet button:focus {
  background-color: rgb(38, 206, 38);
  outline: none;
}

.bank-logo, .e-wallet-logo {
  width: 2.5rem; 
  height: 2.5rem;
  border-radius: 30px; 
  object-fit: cover;
  margin-top: 5px;
}

.new-method {
  color: #5a5a5a;
  font-size: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 4px;
}

.new-method:active{
  color: black;
  opacity: 80%;
}

.confirm-payment {
  text-align: center;
  padding: 30px;
}

.confirm-payment button {
  background-color: #3b82f6;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  width: 18rem;
  padding: 12px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.confirm-payment button:hover {
  background-color: #2563eb;
}

.confirm-payment button:active{
  background-color: white;
  color: #3b82f6;
}
