body{
  display: flex;
  flex-direction: row;
  font-family: 'Roboto';
  padding:0px;
  margin:0px;
}

.brand{
  position: absolute;
  top:8px;
  left:90px;
  font-size: 1.2rem;
  font-weight: 700;
}

.icon{
  width:4rem;
  position: absolute;
  top:10px;
  left:10px;
}

.left{
  width:60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-weight: 700;
  font-size: 2.7rem;
}

.inputs{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  padding-left:14px;
  border:none;
  border-radius: 8px;
  height:2rem;
  width:20rem;
  background-color:rgb(237, 245, 243) ;
}

#password{
  margin-top:1rem;
  margin-bottom:1.4rem;
}

.signIn{
  margin-top:1rem;
  border-radius:25px;
  height:3rem;
  width:15rem;
  border:none;
  color:white;
  background-color: rgb(41, 180, 152);
}

.right{
  background: url('Pictures/loginBackground.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  width:40%;
  height:100vh;
}