*{
  margin:0;
  padding:0;
  font-family:'Roboto';
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  background: url('Pictures/background.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  height:100vh;
}
.container{
  height:35rem;
  width:23rem;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  border-radius: 10px;
  background-color:rgb(5, 131, 127,0.8);
}

.top{
  display:inline-block;
}

.title{
  font-size:2.5rem;
  color:black;
}

#logo{
  width:5rem;
  padding-left: 3rem;
}
.getStarted{
  color:black;
  font-size:1.3rem;
  font-weight: 600;
  background-color:rgb(238, 230, 198);
  border-radius: 8px;
  outline: none;
  height:4rem;
  width:10rem;
}

.getStarted:hover{
  cursor:pointer;
}