/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: lightgray;
  color: #333;
}

/* Container */
.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  height:100vh;
  background-color:white;
  box-shadow: 10px 10px 5px gray;
  overflow:hidden;
  overflow-y: scroll;
}

/* Header Section */
.header {
  background-color: #ffe082;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logoutIcon{
  margin-right:30px;
  margin-bottom:36px;
}

#logout{
  width:1.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.title h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.category-btn {
  background-color: #00897b;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Restaurants Section */
.restaurants {
  padding: 20px;
  
  display:flex;
  overflow-y: auto;
  flex-direction: column;
}

.restaurant-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.restaurant-card img {

  width: 100px;
  height: 100px;
  border-radius: 100%;

  margin-right: 15px;
}

.restaurant-info h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.restaurant-info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.action-btn {
  background-color: #00897b;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
